[theme="dark"] {
  --app-background-body: #43456d;
  --app-background-color: #100f2e;
  --app-background-block: #100f2e;
  --app-text-color: #c1c1c1;
  --app-title-color: #fff;
  --app-background-circle: #fff;
}
