:root {
  --app-background-body: #fff;
  --app-background-color: #faf2e7;
  --app-background-block: #fff;
  --app-text-color: #626982;
  --app-title-color: #000;
  --app-background-circle: #c4c4c4;
}
